@charset "UTF-8";

/* l-header
---------------------------------------------------------- */
.l-header {

}

/* l-main
---------------------------------------------------------- */
.l-main {
	text-align: left;
	max-width: 90rem;
	margin: 0 auto;
}

/* l-footer
---------------------------------------------------------- */
